*{
    margin: 0;
    padding: 0;
}
.up{
    height: 160px;
    width: 100%;
    background-color: rgb(116, 124, 127);
    display: flex;
    align-items: center ;
}
.upbutton{
    height: 150px;
    width: 200px;
    background-color: rgb(224, 101, 105);
}
.logo{
    height: 150px;
    width: 300px;
    background-color: rgb(190, 1, 7);
}
.logo img{
    width: 100%;
}
.wallet{
    color: #ffb158;
         padding: 100px;
       
}
main{
    background-color: rgb(93, 93, 93);
    display: flex;
    align-items: center;
}
.store{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;

}
.button{
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;
    background-color: rgb(93, 93, 93);
    border: none;
}
.arrows{
    background-color: rgb(93, 93, 93);
}
.price{
    align-self: self-end;
    color: #ffb158;
}
.tb{
    width: 100%;
    height: 200%;
    align-items:self-end ;
    justify-content: center;
    display: flex;
}
.buttonLow{
    width: 100%;
    height: 50%;
    background-color: rgb(40, 40, 40);
    border: radius;
    border-width: 5px;
    margin: 0;
    padding: 0;
}
.storeLow{
    width: 50vh;
    height: 65vh;
}
.tb{
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
    justify-content: center;
}
.black{
    background-color: black;
}